* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    color: #333;
    line-height: 1.6;
    font-family:Georgia, 'Times New Roman', Times, serif;


}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #A5D4A5;
    padding: 8px 30px;
}

.logo img {
    height: 100px;
    border-radius: 60px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    font-size:large;
}

nav ul li a:hover{
    color: #333;
}

main {
    max-width: 100% ;
    margin: auto;
}

.nosotros {
    text-align: center;
    
    font-size: large;

}

.perro1 {
    width: 100%;
    height: 630px;

}

.nosotros h2 {
    margin-top: 100px;
    color: #A5D4A5;
    font-size: 45px;

}

.donacion {
    justify-content: space-evenly;
    align-items: center;
    display:flex;
    padding: 200px;
    align-content: center;

    
}

.carpinchos {
    width: 1000px;
    max-width: 400px;
    border-radius: 20px;
}

.donaciontexto {
    text-align: center;
    max-width: 550px;
    height: 250px;
    padding: 30px;
    background-color: #A5D4A5;
    border-radius: 20px;
    
}
.donacion h3 {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
}

.donacion p {
    margin: 0 ;
    font-size: 17px;
 
}

.donacion button {
    background-color: #FFFFFF;
    color:#333;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.donacion button:hover {
    background-color: rgb(140, 207, 150);
    color: #FFFFFF;
}

footer {
    background-color: #A5D8A2;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}

footer p{
    display:inline-block;
    justify-content: space-between;
}

.divh1{
    display: block;
    text-align: center;
}


/*contacto*/
.contact-form {
    background-color: #FFFFFF;
    color: #87ab87;
    border-radius: 15px;
    padding: 60px;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
}

.contact-form label {
    display: block;
    margin-top: 15px;
    font-size: 18px;
    text-align: left;
}

.contact-form input, .contact-form textarea {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-size: 16px;
    color: #0C0225;
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
    color: #CCCCCC;
}

.contact-form button {
    background-color: #87ab87;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #2b2b2b;
}

.nuestros_servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nuestros_servicios h1{
    margin-top: 100px;
    color:#333;
    font-size: 30px;
}

.nuestros_servicios img{
    margin: 30px;
    height: 400px;
    padding: 40px;
}

.servicios{
    padding-bottom: 150px;
    font-size: 18px;
}

.articulos {
    display:flex;
    gap: 90px;
    margin: 40px;
    align-items:center;

    
}

.articulo {
    text-align:center;
    justify-content: space-evenly;
    align-items: center;
    
}

.articulo img {
    width: 310px;
    border-radius: 10px;
    height: 200px;
    transition: box-shadow 0.3s ease;
}

.articulo img:hover{
    box-shadow: 0px 15px 18px rgba(0, 0, 0, 0.3); 

}


.articulo p{
    color: #333;
    font-size: 21px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10px;
}

.preguntas-frecuentes {
    width: auto;
    margin: 70px;
    padding: 90px;
}

.preguntas-frecuentes h2 {
    color:#A5D4A5;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 29px;
    margin-bottom: 22px;
    text-align: left;
}

.pregunta {
    margin-bottom: 20px;
}

.pregunta strong {
    color:#333;
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

.pregunta p {
    margin-left: 10px;
    font-size: 16px;
    line-height: 1.5;
}

#scrollToTop {
    display: none; /* Oculto por defecto */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #2b2b2b;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Cambia el color al pasar el cursor */
#scrollToTop:hover {
    background-color: #A5D4A5;
}

.div-maps{
    border-radius: 15px;
    color: #87ab87;
    padding: 60px;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
}

.maps{
    width:100%;
    height:300px;
    justify-content: "center";
}